@use "tailwindcss"
@use './_appw_colors' as colors
@use './_appw_styles' as styles

*, *::before, *::after
  box-sizing: border-box


// selection

*
  @include styles.selection
    background: colors.$accent-12
    color: colors.$accent

*[type='password']
  @include styles.selection
    text-shadow: 0 0 1px colors.$accent, 0 0 1px colors.$accent, 0 0 1px colors.$accent, 0 0 1px colors.$accent, 1px 0 0 colors.$accent, -1px 0 0 colors.$accent, 0 1px 0 colors.$accent, 0 -1px 0 colors.$accent


// todo: remove?
@theme inline 
  --font-sans: var(--font-inter)
  --font-serif: var(--font-eb-garamond)


body, html
  max-width: 100vw
  background: colors.$background
  color: colors.$primary
  
body
  overflow-x: hidden
  overflow-y: auto
  display: flex
  flex-direction: column
  align-items: center
  min-height: 100vh



a:-webkit-any-link, button
  outline: 2px solid
  outline-offset: 0
  outline-color: transparent
  &:focus-visible
    outline-color: colors.$accent