@use "@/ui/styles/_appw_colors" as colors
@use "@/ui/styles/_appw_styles" as styles
@use "@/ui/styles/_appw_anims" as anims

.logo
    @include styles.no-user-select
    @include anims.default-button
    width: 64px
    padding: 8px 4px
    border-radius: 12px
    
.header
    @include styles.width-page
    @include styles.before-fill
    position: fixed
    inset: 0 0 auto 0
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    padding: 24px 32px
    z-index: 100
    background: transparent

    &::before
        background: linear-gradient(180deg, #000 24.52%, rgba(0, 0, 0, 0.64) 71.15%, rgba(0, 0, 0, 0.00) 100%)
        opacity: 0
        transition: opacity 0.4s 0.3s

    &.scrolled::before
        opacity: 1

.menuWrapper
    position: relative

    .menu
        display: flex
        flex-direction: column
        align-items: flex-end
        gap: 4px
        position: absolute
        top: calc(100% + 10px)
        right: 0
        transition: all 0.2s

        > *
            transition: opacity 0.4s, transform 0.45s, filter 0.1s, scale 0s

        @for $i from 1 through 20
            > *:nth-child(#{$i})
                transition-delay: #{$i * 0.05}s

    .menu:not(.open)
        pointer-events: none
        > *
            opacity: 0 !important
            transform: translateY(-20px) !important
            filter: blur(12px) !important
            transition: opacity 0.4s, transform 0.45s, filter 0.4s, scale 0.4s